name: workflow

on:
  push:
    tags:
      - '*.*.*'
    branches:
      - '**'
  merge_group:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Test
        run: cargo test --verbose

      - name: Clippy
        run: cargo clippy --verbose -- -D warnings

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build with wasm-pack
        run: wasm-pack build --target web

      - name: Copy wasm to ts folder
        run: rsync -av --exclude='.gitignore' --exclude='*.md' --exclude='*.json' ./pkg/ ./ts/wasm/

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/ 

      - name: Compile ts
        run: (cd ts && npm ci --ignore-scripts --legacy-peer-deps && tsc -p tsconfig.json)

      - name: Publish npm
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cp README.md ts
          cd ts

          version=${{ github.ref_name }}
          sed -i "s/\"version\": \"[^\"]*\"/\"version\": \"$version\"/" ./package.json

          npm publish
